@page "{id:int?}"
@model Admin.Endpoint.Pages.CatalogItems.DeleteModel
@{
}

<form asp-page="Delete" style=" margin: 40px 60px 20px;">
    <h3> آیا از حذف ایتم مطمئن هستید ؟</h3>
    <input type="hidden" value="@Model.Id" name="id"/>
    <button class="btn btn-danger"> حذف</button>
</form>